@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-montserrat;
  }
  body {
    @apply bg-background-main text-white;
  }
}

/* scrollbar */

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #424242;
}
::-webkit-scrollbar-thumb {
  background: #919090;
  border-radius: 4px;
}

/* scrollbar firefox */
html {
  scrollbar-width: thin;
}
